<p>This is style binding</p>
<p [style]="'background-color:yellow;'">Hello devendra kumar</p>
<p [style]="'background-color:yellow;color:red;text-transform:uppercase;textAlign:center;'">Hello devendra kumar</p>

<p [style]="{'color':'orange','background-color':'black','font-family':'cooper'}">Hello cavisson this is nt team</p>

<h1 [style]="myclass">This is object styling</h1>



<h2 [style.color]="'green'">Lenevo</h2>
<p [style.fontSize.px]="'60'" [style.color]="'orange'" [style.fontStyle]="'italic'">Cavisson system INC</p>
<p [style.color]="(10<5)?'red':'yellow'" [style.fontSize.px]="(10>5)?'100':'200'" >Alert Notification</p>
