<!--



<div app-home></div>
<div class="container">

  <h1>This is the daten Example</h1>
  <h2>{{todayDate |date: 'short'}}</h2>
  <h2>{{todayDate |date: 'medium'}}</h2>
  </div>

<div class="container">
  <input type="text" placeholder="Enter your name" name="name" id="name" #username >
<button (click)="getName(username.value)">Click here</button>
</div>
<app-greetingbox [myData]="myName" (event_for_sending_data_to_parent_component)="Introduction=$event"></app-greetingbox>


<p>{{Introduction}}</p> -->

<hr height="10px`">

<div class="app-cse ">
</div>
<hr>


<app-cricket-team></app-cricket-team>
<app-registar></app-registar>
